<%= render 'layouts/sidenav' %>
<div class="wrapper">
<div class="midsection clearfix">
<div class="row left">
<div class="large-6 columns">
<h4 class="midsection__header">Your account</h4>
</div>
<div class="large-6 columns">
</div>
</div>
</div>  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="main-content clearfix">
  <div class="row left">
  <div class="large-12 columns">
 <div class="row">
 <div class="row">
   <div class="large-8 columns">
   <div class="container">
     <div class="field">
    <%= f.email_field :email, autofocus: true, class: 'center-form__input', placeholder: 'you@example.com' %>
  </div>

  <div class="field">
    <%= f.text_field :username, class: "center-form__input", placeholder: "Choose a Username" %>
  </div>

  <div class="row"> 
    <div class="large-6 columns">
      <%= f.text_field :first_name, class: "center-form__input", placeholder: "First Name" %>
    </div>
    <div class="large-6 columns">
      <%= f.text_field :last_name, class: "center-form__input", placeholder: "Last Name" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", class: 'center-form__input', placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'center-form__input', placeholder: "Confirm Password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", class: 'center-form__input', placeholder: "Current Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'button expand small center-form__cta' %>
  </div>
<% end %>
   </div>
   </div>
   </div>
 </div>
  </div>
  </div>
  </div>



<%= render 'layouts/lightfooter' %>