<%= render 'layouts/sidenav' %>
<div class="wrapper">
    <div class="midsection clearfix">
        <div class="row left">
            <div class="large-6 columns">
                <h3 class="midsection__pre-header">Lesson</h3>
                <h4 class="midsection__header"><%= @library.name %></h4>
                <div class="midsection__subheader"><p><%= @library.content %></p></div>
            </div>
            <% if !@joined %>
            <div class="large-6 columns">
                <% if user_signed_in? %>
                <% if @library.price == 0 %>
                <%= form_tag free_path do %>
                <%= hidden_field_tag 'library_id', @library.id %>
                <button type="submit" class="button button--cta right floating">Enroll Now</button>
                <% end %>
                <% else %>
                <input id="rzp-button1" type="button" value="Purchase This Library" class="button button--cta right floating">
                <%= form_tag pay_path, id: '' do %>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                    $(document).ready(function(){
                      var options = {
                          "key": "rzp_live_tf32iY98mPpfPs",
                          "amount": "<%= "#{@library.price_in_cents}" %>",
                          "name": "<%= current_user.first_name %> <%= current_user.last_name %>",
                          "description": "<%= @library.name %>",
                          "image": "https://s3.amazonaws.com/hellocodebrew/home/owlcastslogo.png",
                          "handler": function (response){
                            var mapForm = document.createElement("form");
                            mapForm.target = "_self";
        mapForm.method = "POST"; // or "post" if appropriate
        mapForm.action = "/pay";

        var mapInput = document.createElement("input");
        mapInput.type = "text";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;
        mapForm.appendChild(mapInput);

        var mapInput2 = document.createElement("input");
        mapInput2.type = "text";
        mapInput2.name = "user_id";
        mapInput2.value = "<%= "#{current_user.id}" %>";

        var mapInput3 = document.createElement("input");
        mapInput3.type = "text";
        mapInput3.name = "library_id";
        mapInput3.value = "<%= "#{@library.id}" %>";

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);

        mapForm.submit();

    },
    "prefill": {
      "name": "<%= current_user.first_name %> <%= current_user.last_name %>",
      "email": "<%= current_user.email %>"
  },
  "theme": {
      "color": "#efbe66"
  }
};
$("#rzp-button1").click(function(e){
    var rzp1 = new Razorpay(options);
    rzp1.open();
    e.preventDefault();
});

});
</script>
<% end %>
<% end %>
<% else %>

<%= link_to new_user_session_path do %>
<button type="submit" class="button button--cta right floating">Login to Start Reading</button>
<% end %>
<% end %>
</div>
<% else %>
<div class="large-6 columns">
    <% @lessons.limit(1).each do |lesson| %>
    <% if !lesson.header? %>
    <%= link_to [lesson.library, lesson], class: 'button button--cta right floating' do %>
    Start Reading
    <% end %>
    <% end %>
    <% end %>
</div>
<% end %>
</div>
</div>
<div class="top-block clearfix">
    <div class="row left">
        <div class="large-12 columns">
            <ul class="top-block__list">
                <li class="top-block__list-item"><%= @library.read_time %> minutes</li>
                <li class="top-block__list-item"><%= @library.lessons.count %> parts</li>
                <% if !@joined %>
                <li class="top-block__list-item price-item"><%= @library.price == 0? "Free" : "₹ #{@library.price}" %></li>
                <% else %>
                <% end %>
            </ul>
            <ul class="list-inline list-inline--condensed">
                <li class="list-inline__item list-inline__item--condensed"><span class="tag tag--condensed">Ruby on Rails</span></li>
                <li class="list-inline__item list-inline__item--condensed"><span class="tag tag--condensed">Razorpay</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-content clearfix">

    <div class="row left" v-if="!$loadingAsyncData">
        <div class="large-12 columns">
            <lesson-content :lesson.sync="lesson" :current.sync="current"></lesson-content>
        </div>
    </div>

    <div class="row left">
        <div class="large-8 columns">
            <lesson-parts :lesson.sync="lesson" :current.sync="current"></lesson-parts>
        </div>
        <div class="large-4 columns">
            <lesson-downloads :lesson="lesson" :current.sync="current"></lesson-downloads>
            <lesson-links :lesson="lesson" v-if="lesson.links.length"></lesson-links>
            <lesson-topics :lesson="lesson" v-if="lesson.topics.length"></lesson-topics>
        </div>
    </div>
</div>
</div>



<div class="row left">
    <div class="large-12 columns">


        <div class="lesson-item-wrapper" id="lesson-content">
            <div class="lesson-item-wrapper__video-container">
                <div id="wistia_<%= @library.video %>"></div>
            </div>
    



</div>
</div>
</div>

<div class="row left">
    <div class="large-8 columns">
     <div class="container-list">
            <ul class="container-list__list">
                <li class="container-list__header"><i class="fa fa-code" aria-hidden="true"></i> &nbsp;What you will Learn</li>
                <% if @library.description? %>
                <li class="container-list__item1">
                    <p class="lesson-item-wrapper__content-description"><%= markdown(@library.description) %></p>
                </li>
                <% end %>
                </ul>
     </div>
        <div class="container-list">
            <ul class="container-list__list">
                <li class="container-list__header"><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp;Lessons</li>
                <% @lessons.each do |lesson| %>

                <li class="container-list__item">
                    <% if lesson.header? %>
                    <span class="container-list__item-header prima"><i class="fa fa-bookmark" aria-hidden="true"></i>  &nbsp;<%= lesson.title %></span>
                    <% else %>

                    <%= link_to [lesson.library, lesson], class: "container-list__link" do %>
                    <span class="container-list__icon"><i class="fa fa-play-circle-o"></i></span>
                    <span class="container-list__item-header"><%= lesson.title %></span>
                    <span class="container-list__description"><%= lesson.read_time %></span>
                    <% end %>
                    <% end %>
                </li>

                <% end %>
            </li>
        </ul>
    </div>
</div>
<div class="large-4 columns">
    
    <div class="container-list">
        <ul class="container-list__list">
            <li class="container-list__header">
                <i class="fa fa-link container-list__header-icon"></i> Links
            </li>
            <% if @library.preview? %>
            <li class="container-list__item">
                <a class="container-list__link" target="_blank" href="<%= @library.preview %>"><i class="fa fa-external-link "></i> &nbsp;Preview Application</a>
            </li>
            <% end %>
            <% if @library.github? %>
            <li class="container-list__item">
                <a class="container-list__link" target="_blank" href="<%= @library.github %>/fork"><i class="fa fa-code-fork "></i> &nbsp;Fork on Github</a>
            </li>
            <% end %>
            <% if @library.github? %>
            <li class="container-list__item">
            <a class="container-list__link" target="_blank" href="<%= @library.github %>/archive/master.zip"><i class="fa fa-cloud-download "></i> &nbsp;Download Source Code</a>
        </li>
        <% end %>
    </ul>
</div>

</div>
</div>
<script src="https://fast.wistia.net/static/E-v1.js"></script>
<script>
  wistiaEmbed = Wistia.embed("<%= @library.video %>", {
    videoQuality: "hd-only",
    videoFoam: true
  });

  function setPlaySpeed(speed) {
    wistiaEmbed.playbackRate(speed);
  }
</script>
<%= render 'layouts/lightfooter' %>