<body class="home" id="">
<%= render 'layouts/navbar' %>
<div class="jumbo">
<div class="row">
<div class="large-12 columns">
<% if user_signed_in? %>
<div class="jumbo__header">
Hi <%= current_user.first_name.capitalize %>.
</div>
<% else %>
<div class="jumbo__header">
Learn <span class="code-type"></span>
</div>
<div class="jumbo__subheader">
Learn to code and build something amazing with easy to follow tutorials
</div>
<% end %>


</div>
</div>
<%= link_to library_index_path, class: 'button button--cta button--center button--huge-spacing floating' do %>
  Browse the library&nbsp; <i class="fa fa-arrow-right"></i>
<% end %>
</div>
<div class="main-content">
<div class="centerHeader">
The latest from the library
</div>
<div class="row">
<div class="large-12 columns">
<div class="row">

<% @libraries.each do |library| %>
  <div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/laravel-events-and-listeners"><%= library.name %></a>
</h2>
<p><%= library.content %></p>
<div class="library-item__subjects">
<span class="tag">PHP</span>
<span class="tag">Laravel</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> <%= library.lessons.count %> parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> <%= library.read_time %> minutes
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> <%= time_ago_in_words(library.created_at) %> ago
</div>
</div>
</footer>
</div>
</div>
<% end %>
</div>
</div>



<div class="row">
</div>
</div>
</div>
</div>
<div class="testimonials">
<div class="testimonials__header">
What people are saying
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">If you are not a Codecourse member, what are you doing?</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/dariusz.jpeg" alt="Dariusz Czajkowski">
<div class="testimonial__name">Dariusz Czajkowski</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I had no real development experience before starting Codecourse, but I have progressed hugely in the 6 months that I've been a member.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/alastairbudge.jpg" alt="Alastair Budge">
<div class="testimonial__name">Alastair Budge</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse takes you on a journey at every level from novice to expert!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/tony.jpg" alt="Tony Petroski">
<div class="testimonial__name">Tony Petroski</div>
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">You only need to watch a few videos to become hooked and advance your knowledge of any specific language.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/zaknesler.jpeg" alt="Zak Nesler">
<div class="testimonial__name">Zak Nesler</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse helped me to cross the bridge that I'm really scared of, by making really hard stuff a lot easier and clearer!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/hilmanramadhan.png" alt="Hilman Ramadhan">
<div class="testimonial__name">Hilman Ramadhan</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Alex is an amazing teacher! Providing amazing tutorials for anyone, from beginner to master. Codecourse is a must have resource for any web developer!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/joshbruce.jpeg" alt="Josh Bruce">
<div class="testimonial__name">Josh Bruce</div>
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse is the best website for learning code. Actually, Codecourse changed my life. Thank you, keep on teaching :)</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/kamyab.jpg" alt="Kam Yab">
<div class="testimonial__name">Kam Yab</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I used to struggle to find up-to-date tutorials on the latest technologies. Codecourse is now my go to resource.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/samberry.jpg" alt="Sam Berry">
<div class="testimonial__name">Sam Berry</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I'm actually just a cat.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/mabel.jpg" alt="Mabel">
<div class="testimonial__name">Mabel</div>
</div>
</div>
</div>
<hr>
<div class="partners">
  <div class="row">
<div class="large-12 columns">
<h6 class="text-center">TRUSTED BY</h6>
  <div class="row">
  <div class="small-3 columns"><img src="https://s3-us-west-2.amazonaws.com/codeplaceimages/digitalocean.png" /></div>
  <div class="small-3 columns"><img src="https://s3-us-west-2.amazonaws.com/codeplaceimages/landing_jobs.png" /></div>
  <div class="small-3 columns"><img src="https://s3-us-west-2.amazonaws.com/codeplaceimages/shiftforward.png" /></div>
  <div class="small-3 columns"><img src="https://s3-us-west-2.amazonaws.com/codeplaceimages/zomato.jpg" /></div>
</div>
  </div>
</div>

</div>
<%= link_to new_user_registration_path, class: 'button button--cta button--center button--top-spacing floating' do %>
  Sign up for free
<% end %>
</div>
<%= render 'layouts/footer' %>
</body>
<script>
    $(function(){
        $(".code-type").typed({
            strings: ["Ruby on Rails", "Git", "Nodejs", "Angularjs" ,"Reactjs", "Expressjs", "Docker"],
            typeSpeed: 0,
            loop: true,
            typeSpeed: 100,
            loopCount: 2,
        });
    });
</script>