<%= render 'layouts/sidenav' %>
<div class="wrapper">
<div class="midsection clearfix">
<div class="row left">
<div class="large-6 columns">
<h3 class="midsection__pre-header">Lesson</h3>
<h4 class="midsection__header"><%= @lesson.title %></h4>
<div class="midsection__subheader"><p>
    <% if @lesson.note.length < 200 %>
        <%= @lesson.note %>
    <% end %>
</p></div>
</div>
<div class="large-6 columns">
</div>
</div>
</div>
<div class="top-block clearfix">
<div class="row left">
<div class="large-12 columns">
<ul class="top-block__list">
<li class="top-block__list-item"><%= @lesson.read_time %> minutes</li>
<li class="top-block__list-item"><%= @lessons.count %> parts</li>
</ul>
<ul class="list-inline list-inline--condensed">
<li class="list-inline__item list-inline__item--condensed"><span class="tag tag--condensed">PHP</span></li>
<li class="list-inline__item list-inline__item--condensed"><span class="tag tag--condensed">Laravel</span></li>
</ul>
</div>
</div>
</div>
<div class="main-content clearfix"></div>
</div>


<%= render 'layouts/player' %>
    <div class="row left">
        <div class="large-8 columns">
            <div class="container-list">
    <ul class="container-list__list">
        <li class="container-list__header">            Events and Listeners        </li>

        <li class="container-list__item container-list__item--active">
            
            <a href="#" class="container-list__link">
    <span class="container-list__icon"><i class="fa fa-play-circle-o"></i></span>
    <span class="container-list__item-header">Why should we use events and listeners?</span>
    <span class="container-list__description">04:35</span>
</a>
        </li><li class="container-list__item">
            
            <a href="#" class="container-list__link">
    <span class="container-list__icon"><i class="fa fa-play-circle-o"></i></span>
    <span class="container-list__item-header">Getting events and listeners working</span>
    <span class="container-list__description">16:43</span>
</a>
        </li><li class="container-list__item">
            
            <a href="#" class="container-list__link">
    <span class="container-list__icon"><i class="fa fa-play-circle-o"></i></span>
    <span class="container-list__item-header">A taste of queueing</span>
    <span class="container-list__description">07:18</span>
</a>
        </li>
    </ul>
</div>
        </div>
        <div class="large-4 columns">
            <div class="container-list">
    <ul class="container-list__list">
        <li class="container-list__header">
            <i class="fa fa-arrow-circle-down container-list__header-icon"></i> Downloads
        </li>

        

        <li class="container-list__item">
            <a class="container-list__link" href="/video/download/788/hd">Download video</a>
        </li>
    </ul>
</div>
            
            
        </div>
    </div>
        </div>
    </div>
<%= render 'layouts/lightfooter' %>