<header class="top">
<div class="row collapse">
<div class="large-12 columns">
<nav class="top-bar" data-topbar data-options="is_hover: false" role="navigation">
<ul class="title-area">
<li class="name">
<h1>
<%= link_to root_path do %>
<div class="logo">
  
<svg width="140px" height="36px" viewBox="255 333 599 179" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Group-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(255.000000, 333.000000)">
        <g id="Group-3" transform="translate(0.000000, 34.000000)" fill="#3C3F50">
            <g id="Group-2">
                <g id="graduation" transform="translate(0.000000, 0.076923)">
                    <g id="Capa_1">
                        <g id="Group">
                            <path d="M104.629638,0.522576607 L5.655757,0.522576607 C2.5337578,0.522576607 0,2.26735132 0,4.42237808 C0,5.86280674 1.14181761,7.10479536 2.82761185,7.78355659 L2.82761185,19.3123347 C2.82761185,20.0948624 3.46118463,20.7302984 4.24141777,20.7302984 C5.02165091,20.7302984 5.65522369,20.0948624 5.65522369,19.3123347 L5.65522369,8.32217956 L41.181164,8.32217956 L41.181164,12.0347734 C39.5615003,11.7020788 37.8895721,11.5127317 36.1728458,11.5127317 C35.6358023,11.5127317 35.1152913,11.5608708 34.5862474,11.5913589 C34.7617065,11.5400105 34.8721017,11.5127317 34.8721017,11.5127317 C24.6266753,9.15017197 11.1920525,13.8752915 11.1920525,13.8752915 C9.43319471,19.4289383 11.1920525,36.5675254 11.1920525,36.5675254 C11.1920525,43.0085361 13.6474136,48.8675987 17.6419087,53.3129766 C17.5064478,54.6448249 17.4387174,55.9996729 17.4387174,57.3678929 C17.4387174,74.9996384 28.9278238,89.9174086 44.8098081,95.0436872 C44.9618016,88.3218651 44.6055502,73.0056101 39.0852541,61.4340417 C46.4998688,60.5670032 52.9369256,56.4430875 56.9154213,50.5160953 C60.6848594,56.1328577 66.6691356,60.1048679 73.5899049,61.2511132 C67.8898831,73.0441214 67.6242946,88.8369534 67.7960205,95.4009863 C84.2987781,90.6598204 96.3862588,75.4484017 96.3862588,57.3684278 C96.3862588,56.0002078 96.3169285,54.6453597 96.1846675,53.3135115 C100.177563,48.8681336 102.632924,43.0058617 102.632924,36.5680603 C102.632924,35.2313981 102.497463,33.9268287 102.295872,32.6490032 C102.702254,27.2510061 103.1881,17.7510234 101.961486,13.8758263 C101.961486,13.8758263 88.5241966,9.15124173 78.2787701,11.5132666 C78.2787701,11.5132666 78.3566334,11.5357315 78.4227639,11.5533825 C78.1630418,11.5437547 77.9118526,11.5132666 77.6553302,11.5132666 C76.9177619,11.5132666 76.1913931,11.5533825 75.4735573,11.6186377 L75.4735573,8.32271444 L104.630171,8.32271444 C107.750571,8.32271444 110.285395,6.57793973 110.285395,4.42291296 C110.284862,2.26735132 107.750037,0.522576607 104.629638,0.522576607 L104.629638,0.522576607 Z M67.1277826,13.8747566 C64.8633465,14.9386306 62.7642367,16.313804 60.9312488,17.9794166 C59.6107722,17.8451621 58.2689632,17.7772325 56.9127548,17.7772325 C55.5554798,17.7772325 54.2147374,17.8446272 52.8947941,17.9794166 C51.0596729,16.3132691 48.9610964,14.9380957 46.6961271,13.8747566 L67.1277826,13.8747566 L67.1277826,13.8747566 Z M76.3513863,15.7671579 C87.8063608,15.7671579 97.0907619,25.0788632 97.0907619,36.5675254 C97.0907619,48.0561876 87.8063608,57.3678929 76.3513863,57.3678929 C67.4813674,57.3678929 59.9312917,51.7730605 56.9708856,43.918365 C54.0035464,51.7730605 46.4561374,57.3678929 37.5871851,57.3678929 C26.1322106,57.3678929 16.8483428,48.0561876 16.8483428,36.5675254 C16.8483428,25.0788632 26.1327439,15.7671579 37.5871851,15.7671579 C46.4588039,15.7671579 54.006213,21.3630601 56.9708856,29.2166858 C59.9307584,21.3625252 67.4813674,15.7671579 76.3513863,15.7671579 L76.3513863,15.7671579 Z" id="Shape"></path>
                            <ellipse id="Oval" cx="36.1733792" cy="36.5669905" rx="8.48923526" ry="8.51420105"></ellipse>
                            <ellipse id="Oval" cx="77.6521304" cy="36.5669905" rx="8.48923526" ry="8.51420105"></ellipse>
                            <path d="M36.4080357,96.9569488 L33.3372343,96.9569488 C30.2125686,96.9569488 27.6814773,99.1783005 27.6814773,101.917415 C27.6814773,104.656529 30.2125686,106.877346 33.3372343,106.877346 L36.4080357,106.877346 C39.5300349,106.877346 42.0637927,104.656529 42.0637927,101.917415 C42.0637927,99.1783005 39.5300349,96.9569488 36.4080357,96.9569488 L36.4080357,96.9569488 Z" id="Shape"></path>
                            <path d="M77.8862537,96.9569488 L74.8154523,96.9569488 C71.6945197,96.9569488 69.1602286,99.1783005 69.1602286,101.917415 C69.1602286,104.656529 71.695053,106.877346 74.8154523,106.877346 L77.8862537,106.877346 C81.0071862,106.877346 83.5420107,104.656529 83.5420107,101.917415 C83.5420107,99.1783005 81.0125193,96.9569488 77.8862537,96.9569488 L77.8862537,96.9569488 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
        <text id="CASTS" font-family="open-sans, sans-serif" font-size="130.193676" font-weight="500" letter-spacing="1" fill="#3C3F50">
            <tspan x="123" y="135">CASTS</tspan>
        </text>
    </g>
</svg>
</div>
<% end %>
</h1>
</li>
<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>
<section class="top-bar-section">
<ul class="right">
<li><%= link_to "Premium", premium_path %></li>
<% if user_signed_in? %>
  <li class="has-dropdown">
<a href="#">
<% if current_user.image? %>
  <%= image_tag current_user.image, size: '30', class: 'user-avatar user-avatar--light-border user-avatar--right-spacing' %>
<% else %>
  <%= gravatar_tag current_user.email, :secure => true ,:size => 30, :html => { class: 'user-avatar user-avatar--light-border user-avatar--right-spacing' } %>
<% end %>
 Rahul Lakhaney</a>
<ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">
<% if current_user.image? %>
  <%= image_tag current_user.image, class: 'user-avatar user-avatar--light-border user-avatar--right-spacing' %>
<% else %>
<%= gravatar_tag current_user.email, :size => 30, :html => { class: 'user-avatar user-avatar--light-border user-avatar--right-spacing' } %>
<% end %>
 Rahul Lakhaney</a></li>
<li><%= link_to "Account", edit_user_registration_path %></li>
<li><a href="#">Profile</a></li>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
</ul>
</li>
<% else %>
<li><%= link_to "Sign In", new_user_session_path %></li>
<li><%= link_to "Get a Free Account", new_user_registration_path %></li>
<% end %>
</ul>
<ul class="right">
<li><%= link_to "Library", library_index_path %></li>
<li><a href="#">Community</a></li>
</ul>
</section>
</nav>
</div>
</div>
</header>