<% if @lesson.video? %>
<% if user_signed_in? %>
<div class="row left" >
  <div class="large-12 columns" data-no-turbolink="true">
    <div data-no-turbolink='true' class="lesson-item-wrapper" id="lesson-content">
    <div id="wistia_<%= @lesson.video %>"></div>
      <div class="lesson-item-wrapper__content clearfix">
      <div class="text-center">
        <button class="btn tiny" onclick="setPlaySpeed(0.75)">0.75x</button>
          <button class="btn tiny" onclick="setPlaySpeed(1)">1x</button>
          <button class="btn tiny" onclick="setPlaySpeed(1.25)">1.25x</button>
          <button class="btn tiny" onclick="setPlaySpeed(1.5)">1.5x</button>
          <button class="btn tiny" onclick="setPlaySpeed(2)">2x</button>
      </div>
        
        <p class="lesson-item-wrapper__content-description"><%= markdown @lesson.note %></p>
        
        <div class="lesson-item-wrapper__navigation">
        <% if !@prev_lesson.nil? %>
            <%= link_to [@prev_lesson.library, @prev_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--backward lesson-item-wrapper__navigation-button--border' do %>
            <i class="fa fa-arrow-left"></i> Previous part
            <% end %>
            <% end %>


            <% if !@next_lesson.nil? %>
            <%= link_to [@next_lesson.library, @next_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--forward lesson-item-wrapper__navigation-button--border' do %>
            Next part <i class="fa fa-arrow-right"></i>
            <% end %>
            <% end %>
          


        </div>
      </div>
    </div>
  </div>
</div>
      
    </div>
  </div>
</div>
</div>

<% else %>
<div class="row left">
  <div class="large-12 columns">
    <div class="lesson-item-wrapper" id="lesson-content">
      <div class="lesson-item-notice">
        <div class="lesson-item-notice__container">
          <div>
            <i class="fa fa-video-camera lesson-item-notice__icon"></i>
            <h4 class="lesson-item-notice__title">Join us to watch this series.</h4>
            <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>.</p>
          </div>

        </div>
      </div>



      <div class="lesson-item-wrapper__content clearfix">
        <p class="lesson-item-wrapper__content-description"><%= markdown @lesson.note %></p>
        <div class="lesson-item-wrapper__navigation">
        <% if !@prev_lesson.nil? %>
            <%= link_to [@prev_lesson.library, @prev_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--backward lesson-item-wrapper__navigation-button--border' do %>
            <i class="fa fa-arrow-left"></i> Previous part
            <% end %>
            <% end %>


            <% if !@next_lesson.nil? %>
            <%= link_to [@next_lesson.library, @next_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--forward lesson-item-wrapper__navigation-button--border' do %>
            Next part <i class="fa fa-arrow-right"></i>
            <% end %>
            <% end %>
          


        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% else %>
<div class="row left">
  <div class="large-12 columns">
    <div class="lesson-item-wrapper" id="lesson-content">
      <div class="lesson-item-wrapper__content clearfix">
        <p class="lesson-item-wrapper__content-description"><%= markdown @lesson.note %></p>
        <div class="lesson-item-wrapper__navigation">
        <% if !@prev_lesson.nil? %>
            <%= link_to [@prev_lesson.library, @prev_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--backward lesson-item-wrapper__navigation-button--border' do %>
            <i class="fa fa-arrow-left"></i> Previous part
            <% end %>
            <% end %>


            <% if !@next_lesson.nil? %>
            <%= link_to [@next_lesson.library, @next_lesson], class: 'lesson-item-wrapper__navigation-button lesson-item-wrapper__navigation-button--forward lesson-item-wrapper__navigation-button--border' do %>
            Next part <i class="fa fa-arrow-right"></i>
            <% end %>
            <% end %>
          


        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script src="https://fast.wistia.net/static/E-v1.js"></script>
<script>
  wistiaEmbed = Wistia.embed("<%= @lesson.video %>", {
    videoQuality: "hd-only",
    videoFoam: true
  });

  function setPlaySpeed(speed) {
    wistiaEmbed.playbackRate(speed);
  }
</script>