<% if user_signed_in? %>
<nav class="side-navigation" id="navigation">
<a class="side-navigation__toggle" id="navigation-toggle">☰</a>
<div class="side-navigation__inner">
<section class="side-navigation__body">

<%= link_to edit_user_registration_path, class: 'side-navigation__logo' do %>
  <% if current_user.image? %>
    <%= image_tag current_user.image, class: 'user-avatar user-avatar--light-border user-avatar--right-spacing', size: '30' %>
  <% else %>
    <%= gravatar_tag current_user.email, :secure => true ,:size => 30, :html => { class: 'user-avatar user-avatar--light-border user-avatar--right-spacing' } %>
  <% end %>
Hi <%= current_user.first_name %>!
<% end %>
<div class="side-navigation__item">
  <%= link_to "Home", root_path, class: 'side-navigation__item-link' %>
</div>
<div class="side-navigation__item">
<%= link_to library_index_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-graduation-cap"></i> &nbsp; Library
<% end %>
</div>
<div class="side-navigation__item">
<%= link_to mylibrary_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-bookmark"></i> &nbsp; My Libraries
<% end %>
</div>
<div class="side-navigation__item side-navigation__item--last">
</div>
<div class="side-navigation__item">
<%= link_to edit_user_registration_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-user"></i> &nbsp; Account
<% end %>
</div>
<div class="side-navigation__item side-navigation__item--last">
<%= link_to premium_path, class: 'side-navigation__item-link' do %>
<i class="fa fa-credit-card-alt"></i> &nbsp; Premium
<% end %>
</div>
<div class="side-navigation__item">
<%= link_to destroy_user_session_path, method: :delete, class: 'side-navigation__item-link' do %>
  <i class="fa fa-power-off"></i> &nbsp; Sign Out
<% end %>
</div>
</section>
</div>
</nav>
<% else %>
<nav class="side-navigation" id="navigation">
<a class="side-navigation__toggle" id="navigation-toggle">☰</a>
<div class="side-navigation__inner">
<section class="side-navigation__body">
<%= link_to "owlcasts", root_path, class: 'side-navigation__logo' %>
<div class="side-navigation__item">
<%= link_to new_user_session_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-sign-in"></i> &nbsp; Sign in
<% end %>
</div>
<div class="side-navigation__item">
<%= link_to new_user_registration_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-user"></i> &nbsp; Sign up
<% end %>
</div>
<br/>
<div class="side-navigation__item">
<%= link_to library_index_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-graduation-cap"></i> &nbsp; Library
<% end %>
</div>
<div class="side-navigation__item side-navigation__item--last">
</div>
<div class="side-navigation__item side-navigation__item--last">
<%= link_to premium_path, class: 'side-navigation__item-link' do %>
  <i class="fa fa-credit-card-alt"></i> &nbsp; Premium
<% end %>
</div>
</section>
</div>
</nav>
<% end %>