<!DOCTYPE html>
<html>
<head>
  <title>Myunicasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <!-- Start of Async Drift Code for Code Shelf-->
<script>!function(t){function e(r){if(o[r])return o[r].exports;var n=o[r]={exports:{},id:r,loaded:!1};return t[r].call(n.exports,n,n.exports,e),n.loaded=!0,n.exports}var o={};return e.m=t,e.c=o,e.p="",e(0)}([function(t,e){!function(){var t;return t=window.driftt=window.driftt||[],t.init?void 0:t.invoked?void(window.console&&console.error&&console.error("Driftt snippet included twice.")):(t.invoked=!0,t.methods=["identify","track","reset","debug","show","ping","page","hide","off","on"],t.factory=function(e){return function(){var o;return o=Array.prototype.slice.call(arguments),o.unshift(e),t.push(o),t}},t.methods.forEach(function(e){t[e]=t.factory(e)}),t.load=function(){var t,e,o,r;t=3e5,r=Math.ceil(new Date/t)*t,o=document.createElement("script"),o.type="text/javascript",o.async=!0,o.crossorigin="anonymous",o.src="https://js.driftt.com/include/"+r+"/rnebrbgg2dhz.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(o,e)},t.SNIPPET_VERSION="0.1.0",t.load())}()}]);
//# sourceMappingURL=browser-snippet.js.map
</script>
<!-- End of Async Drift Code for Code Shelf -->
<script src="//load.sumome.com/" data-sumo-site-id="6f51ca82da7fd358622a6154108ebe92ed0b80c9a5e1e9d7f7ad7dbafa6c7532" async="async"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<% if user_signed_in? %>
    <script>
driftt.identify(userId, { email: '<%= current_user.email %>' });
</script>
    <% end %>
<%= yield %>
</body>

</html>
